<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<%= link_to 'New Blog', new_blog_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.name %></td>
        <td><%= blog.uemail %></td>
        <td>
          <%= blog.cbody%>
        </td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


