<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user.email %>
</p>
<%= render partial: "comments/comments", locals: {commentable: @blog}%>
<%= render partial: "comments/form", locals: {commentable: @blog}%>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
