<div>
	<h1>Comment</h1>
	<% commentable.comments.each do |c|%>
	<div style="padding-right: 20px;"><%= c.body%><span>
		<%= link_to 'Edit', edit_blog_comment_path(c.id) %>
	</span></div>
	<% end %>
</div>